*.analysis
*.beam
*.dump
efs-0.0.1.boot
efs-0.0.1.script
efs-0.0.1.tar.gz
efsroot
filenametags
*.files
*.log
*.o
*.out
priv/api_c/cclient
priv/api_c/efs
priv/inter/cclient
priv/inter/cserver
priv/inter/cserver2
priv/inter/example_drv.so
priv/inter/ext_ei
priv/inter/ext_port
priv/tiny/tiny-1.0/plain.boot
priv/tiny/tiny-1.0/plain.rel
priv/tiny/tiny-1.0/plain.script
priv/tiny/tiny-1.0/tiny-1.0.boot
priv/tiny/tiny-1.0/tiny-1.0.script
priv/tiny/tiny-1.0/tiny-1.0.tar.gz
tags
*.trace
*_v*
priv/example/
priv/tracer/en1@uss-debug_log
priv/tracer/en1@uss-debug_log.ti
priv/tracer/en2@uss-debug_log
priv/tracer/en2@uss-debug_log.ti
